*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #001e4d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password_box{
    width: 90%;
    max-width: 400px;
    margin: 300px auto;
    border: 1px solid whitesmoke;
    padding: 15px 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 80px rgba(0,0, 50, 0.3);
    background-color: #fff;
}
.password{
    width: 90%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 24px;
}